---

---

<section class="bg-[#101828] flex flex-col mt-5 w-full py-16">
  <div class="container mx-auto text-center px-4">
    <h2
      class="text-[#F9FAFB] [text-shadow:0_4px_6px_#3B82F6] text-3xl font-bold mb-4"
    >
      ¿Trabajamos juntos?
    </h2>
    <p class="text-white/80 text-lg mb-6 font-bold">
      Estoy disponible para nuevas oportunidades. ¡Hablemos!
    </p>
    <div class="flex gap-4 justify-center">
      <a href="mailto:r.romerod96@gmail.com">
        <button
          class="bg-[#2563EB] px-6 py-2 rounded-lg text-white font-semibold hover:bg-[#1D4ED8] transition-all"
        >
          Contactame
        </button>
      </a>
    </div>
  </div>
</section>
<div class="flex justify-between align-middle w-full p-5">
  <div>
    <p class="text-white">
      Designed by <span class="border-b font-bold border-b-white"
        >Roberto Romero Díaz</span
      >
      <br />
      Gmail: r.romerod96@gmail.com
    </p>
  </div>
  <div>
    <h3 class="text-white">
      © 2026 Roberto Romero Díaz. Todos los derechos reservados.
    </h3>
  </div>
</div>
