---
import { Icon } from "astro-icon/components";
import { svgGitHub } from "../../icons/iconsTab/tab";

interface Props {
  name: string;
  text: string;
  icon:string;
}

const { name, text,icon } =  Astro.props as Props

---

<div class="w-100 h-56 flex flex-col items-center gap-2 p-6 bg-[#111828]
  rounded-4xl shadow-[3px_3px_0_#1E40AF]">
<Icon class='text-[#3b82f6]' name={icon} size={60} />
  <h3 class="text-[#F9FAFB] font-bold [text-shadow:0_4px_6px_#3B82F6]">{name}</h3>
  <p class="text-white text-center">
    {text}
  </p>
</div>
 