---
import Layout from "../layout/Layout.astro"

const name = 'roberto'
---
 
<Layout title = 'Home' description="Bienvenido al Home">
	<a href="/componente">Ir a componente</a>
	<h1>{name}</h1>
</Layout>

	
