---
import { imageConfig } from "astro:assets";
import BaseHead from "../components/baseHead.astro";
const { title, description, image = '/imagen/perfil.jpg' } = Astro.props;
 
---  

<html lang="es">
  <head>
  <BaseHead title='Roberto Romero Díaz' description='Mi Portafolio' image={image}/>
  </head> 
  
  <body class="bg-[#030712]">
    <main class=" flex justify-center items-center align-middle w-full">
      <slot />
    </main>
  </body>
</html>
